{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="row">
                <div class="col">
                                <div class="form-group">
                {{ form.first_name.label(class="form-control-label") }}

                {% if form.first_name.errors %}
                {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.first_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.first_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
                </div>
                <div class="col">
                                <div class="form-group">
                {{ form.last_name.label(class="form-control-label") }}

                {% if form.last_name.errors %}
                {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.last_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.last_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
                </div>
            </div>


            <div class="form-group">
                {{ form.marital_state.label(class="form-control-label") }}

                {% if form.marital_state.errors %}
                {{ form.marital_state(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.marital_state.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.marital_state(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.age.label(class="form-control-label") }}

                {% if form.age.errors %}
                {{ form.age(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.age.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.age(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.gender.label(class="form-control-label") }}

                {% if form.gender.errors %}
                {{ form.gender(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.gender.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.gender(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.race.label(class="form-control-label") }}

                {% if form.race.errors %}
                {{ form.race(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.race.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.race(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.nationality.label(class="form-control-label") }}

                {% if form.nationality.errors %}
                {{ form.nationality(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.nationality.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.nationality(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.blood_group.label(class="form-control-label") }}

                {% if form.blood_group.errors %}
                {{ form.blood_group(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.blood_group.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.blood_group(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.organ_donor.label(class="form-control-label") }}

                {% if form.organ_donor.errors %}
                {{ form.organ_donor(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.organ_donor.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.organ_donor(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.disabilities.label(class="form-control-label") }}

                {% if form.disabilities.errors %}
                {{ form.disabilities(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.disabilities.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.disabilities(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.occupation.label(class="form-control-label") }}

                {% if form.occupation.errors %}
                {{ form.occupation(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.occupation.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.occupation(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.house_number.label(class="form-control-label") }}

                {% if form.house_number.errors %}
                {{ form.house_number(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.house_number.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.house_number(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.street_address.label(class="form-control-label") }}

                {% if form.street_address.errors %}
                {{ form.street_address(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.street_address.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.street_address(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.city.label(class="form-control-label") }}

                {% if form.city.errors %}
                {{ form.city(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.city.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.city(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.province.label(class="form-control-label") }}

                {% if form.province.errors %}
                {{ form.province(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.province.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.province(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.zip_code.label(class="form-control-label") }}

                {% if form.zip_code.errors %}
                {{ form.zip_code(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.zip_code.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.zip_code(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock %}