{% extends "layout.html" %}
{% block content1 %}
<div class="login-page sidebar-collapse">
        <div class="content">
            <div class="container">
                <div class="col-md-4 ml-auto mr-auto">
                    <div class="card card-login card-plain">
                        <form class="form" method="POST" action="">
                                    {{ form.hidden_tag() }}
                            <div class="card-header text-center">
                                <div class="logo-container">
                                    <img src="{{ url_for('static', filename='img/now-logo.png') }}" alt="">
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="input-group no-border input-lg">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-at"></i>
                                    </span>
                                    </div>
                                    {% if form.email.errors %}
                                    {{ form.email(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.email(class="form-control") }}
                                    {% endif %}
                                </div>
                                <div class="input-group no-border input-lg">
                                    <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-key"></i>
                                </span>
                                    </div>
                                    {% if form.password.errors %}
                                    {{ form.password(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.password(class="form-control") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                {{ form.submit(class="btn btn-primary btn-round btn-lg btn-block") }}
                                <div class="pull-left">
                                    <h6>
                                        <a href="{{ url_for('users.register') }}" class="link">Create Account</a>
                                    </h6>
                                </div>
                                <div class="pull-right">
                                    <h6>
                                        <a href="{{ url_for('users.reset_request') }}" class="link">Forgot Password?</a>
                                    </h6>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content1 %}